<h1>Editing forecast</h1>

<%= render "form", forecast: @forecast %>

<br>

<div>
  <%= link_to "Show this forecast", @forecast.zip_code %> |
  <%= link_to "Back to forecasts", forecasts_path %>
</div>
